<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
	</head>
	<body>
		<h1>Restaurant App</h1>

		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul>
					{% for message in messages %}
					<li> <strong>{{ message }}</strong></li>
					{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
		<h2>
			<a href="{{ url_for('newRestaurant')}}">
				Create New Restaurant
			</a>
		</h2>
		{% for restaurant in restaurants %}

		{{restaurant.name}}</br>
		<a href="{{ url_for('editRestaurant', restaurant_id=restaurant.id)}}">
			Edit
		</a></br>
		<a href="{{ url_for('deleteRestaurant', restaurant_id=restaurant.id)}}">
			Delete
		</a></br></br>

		{% endfor %}
	</body>
</html>